In [1]:
import pandas as pd
import numpy as np

In [3]:
data=np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
index_date=pd.date_range('2020-05-01', periods=4)
columns_list=['A','B','C']
df=pd.DataFrame(data, index=index_date, columns=columns_list)
print(df)

             A   B   C
2020-05-01   1   2   3
2020-05-02   4   5   6
2020-05-03   7   8   9
2020-05-04  10  11  12

In [4]:
# 딕셔너리로 만들기
data = {'연도':[2015,2016,2016,2017,2017], '지사':['서울','서울','부산','서울','부산'],
        '고객수':[200,250,150,300,200]}
df = pd.DataFrame(data)
print(df)

     연도  지사  고객수
0  2015  서울  200
1  2016  서울  250
2  2016  부산  150
3  2017  서울  300
4  2017  부산  200

In [5]:
# 특정 행, 특정 열 선택
#지사만 선택
print(df['지사'])

0    서울
1    서울
2    부산
3    서울
4    부산
Name: 지사, dtype: object

In [9]:
# 2016년 행만 선택
print(df.loc[2])

연도     2016
지사       부산
고객수     150
Name: 2, dtype: object